<p><%= t(:header) %></p>
<p><%= t(:from) %>: <%= @inquiry.name %> (<%= @inquiry.email %>)</p>
<% unless @inquiry.phone_number.blank? %><p><%= t(:phone_number) %>: <%= @inquiry.phone_number %></p><% end %>
<p><%= t(:type_inquiry) %>: <%= @inquiry.inquiry_type %></p>
<% unless @inquiry.order_no.blank? %><p><%= t(:order) %>: <%= @inquiry.order_no %></p><% end %>
<br/>
<%= t(:message) %>:<br/>
<p><%= @inquiry.message %></p>